@import "tailwindcss";

/* Default theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Define the custom Geist Mono font */
@font-face {
  font-family: "High Summit";
  src: url("/assets/font/High Summit.ttf") format("ttf"),
    url("/assets/font/High Summit.otf       ") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Custom class for text balance */
.text-balance {
  text-wrap: balance;
}

/* Clockwise animations at different speeds */
.animate-spin-5 {
  animation: spin 20s linear infinite;
}
.animate-spin-10 {
  animation: spin 10s linear infinite;
}
.animate-spin-15 {
  animation: spin 6.67s linear infinite;
}
.animate-spin-20 {
  animation: spin 5s linear infinite;
}
.animate-spin-30 {
  animation: spin 3.33s linear infinite;
}

@layer utilities {
  /* Keyframes for clockwise spin animation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

/* Body styling with background and text colors */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "High Summit", Arial, Helvetica, sans-serif;
}
